@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  width: 100%;
  height: 100vh;
} */

/* adding base properties to buttons */
@layer base {
  button {
    @apply border border-black rounded-lg px-5 py-1;
  }
}
